<div class="post">
  <div class="post-author-name">
    <span>{{ post.createdBy.username }}</span>
  </div>

  <!-- TIPS: [ngStyle]="{'background-image': url(...) }" -->
  <div class="post-author-photo" [ngStyle]="{ 'background-image': 'url(' + post.createdBy.photoUrl + ')' }"></div>
  <div class="post-date">
    {{post.createdAt}}
  </div>

  <!-- TIPS: [ngClass]="{liked: [expression booléenne]}" -->
  <div class="post-user-like">
    <i nz-icon nzType="heart" [nzTheme]="post.liked ? 'fill' : 'outline'"></i>
  </div>

  <p class="post-text">
    {{post.message.text.content}}
  </p>

  <!-- Itérer sur les "attachements" du message -->
  <div class="post-attachements" *ngFor="let attachement of post.message.attachements">
    <div *ngIf="attachement.type === 'image'">
      <app-post-attachement-image [element]="attachement"></app-post-attachement-image>
    </div>
    <div *ngIf="attachement.type === 'video'">
      <app-post-attachement-video [element]="attachement"></app-post-attachement-video>
    </div>
    <div *ngIf="attachement.type === 'audio'">
      <app-post-attachement-audio [element]="attachement"></app-post-attachement-audio>
    </div>
    <div *ngIf="attachement.type === 'youtube'">
      <app-post-attachement-youtube [element]="attachement"></app-post-attachement-youtube>
    </div>
  </div>
  <div #anchor></div>
</div>